.home-its-box__title.error-descr {
    margin: 0 0 50px 0;
    text-align: center;
}

.error-btn:focus {
    color: var(--gray);
}

.error-btn:hover > svg {
    rotate: 45deg;
}

.error-btn:focus > svg {
    fill: var(--gray);
}
