.entry-title {
    color: var(--dark-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 126.166%;
    text-transform: uppercase;
    margin: 40px 0;
}
.wp-block-file__button {
    background: var(--dark-blue);
    color: #fff;
    text-decoration: none;
}

.entry-title > a {
    color: var(--dark-blue);
}
.page-title{
    color: var(--dark-blue);
}
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
    .entry-title {
        font-size: 48px;
        margin: 175px 0 40px 0;
    }
}
