.educational-materials {
    margin-bottom: 80px;
}

.educational-materials-hero {
    height: 206px;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
    padding: 40px 0 40px 0;
    background: rgba(255, 255, 255, 0.40) center/cover no-repeat;
}

.educational-materials__title {
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(3px);
}

.educational-materials__content {
    padding: 16px;
    border-radius: 10px;
    margin: -30px 0 70px;
    background-color: var(--white);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.20), 0 0 32px -8px rgba(0, 0, 0, 0.12), 0 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.educational-materials__content:last-child {
    margin-bottom: 0;
}

.educational-materials__content-title {
    margin-bottom: 16px;
    color: var(--orange);
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.educational-materials__content-text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 150%;
}

.educational-materials__content-link {
    font-size: 14px;
    line-height: 140%;
}

.educational-materials__content-link:hover {
    background-color: var(--blue);
}

.educational-materials__content-link:focus {
    color: var(--gray);
    background-color: var(--white-light);
}

.educational-materials__content-link:focus svg use {
    fill: var(--gray);
}


@media screen and (min-width: 768px) {

    .educational-materials {
        margin-bottom: 96px;
    }

    .educational-materials-hero {
        height: 337px;
        padding-top: 48px;
    }

    .educational-materials__content {
        padding: 24px;
        margin: -110px 0 158px;
    }

    .educational-materials__content-title {
        font-size: 20px;
        line-height: 150%;
    }

    .educational-materials__content-text {
        font-size: 16px;
        line-height: 140%;
    }

    .educational-materials__content-link {
        width: fit-content;
        margin: 0 auto 0;
        text-align: center;
    }
}


@media screen and (min-width: 1440px) {

    .educational-materials {
        margin-bottom: 134px;
    }

    .educational-materials-hero {
        height: 1050px;
        padding-top: 197px;
    }

    .educational-materials__title {
        font-size: 36px;
        line-height: 126.2%;
    }

    .educational-materials__container {
        display: flex;
        flex-wrap: wrap;
        gap: 604px 173px;
    }

    .educational-materials__content {
        width: 632px;
        max-height: 492px;
        margin: -548px 0 0;
    }

    .educational-materials__content-title, .educational-materials__content-text {
        margin-bottom: 32px;
    }

}
