
.lab-single-title {
    color: var(--dark-blue);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 80px 0;

}

.labs-single-inner__title {
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 40px 0;
    text-align: center;
}

.labs-single-inner__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 0 0 40px 0;
}

.labs-single-inner-arrows {
    display: none;
}

.swiper-pagination.labs-single-inner__swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    margin: 40px auto 0 auto;
}

.labs-post-swiper-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.labs-single-content-text {
    font-size: 14px;
    line-height: 150%;
}

.labs-single-content__list-title {
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 0 40px 0;
    text-align: center;
}

.labs-single-box {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.20), 0 0 32px -8px rgba(0, 0, 0, 0.12), 0 32px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 16px;
}

.labs-single-content__list-item {
    display: flex;
    flex-direction: column-reverse;
    gap: 49px;
}

.labs-single-content__list-item-img {
    border-radius: 10px;
}


.labs-single-box {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.labs-single-content__list {
    margin: 80px 0;
}

.labs-single-call-img {
    border-radius: 10px;
    width: 343px;
    height: 184px;
    object-fit: cover;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.40), 0 8px 24px -6px rgba(0, 0, 0, 0.16);
}

.labs-single-call {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.labs-single-call {
    margin: 0 0 96px 0;
}

.labs-single-content-text {
    margin: 0 0 80px 0;
}

.lab-single-arrow {
    margin: 40px 0;
}

.lab-single-arrow > a > span {
    display: none;
}

@media screen and (min-width: 768px) {
    .lab-single-title {
        font-size: 26px;
        margin: 0 0 96px 0;
    }

    .labs-single-inner__title {
        font-size: 20px;
        margin: 0 0 48px 0;
    }

    .labs-single-inner__text {
        font-size: 16px;
        margin: 0 0 48px 0;
    }

    .swiper-pagination.labs-single-inner__swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        display: none;
    }

    .labs-single-inner-arrows {
        display: flex;
        justify-content: space-between;
        margin: 40px 0 0 0;
    }

    .labs-single-swiper-button-next > svg, .labs-single-swiper-button-prev > svg {
        fill: var(--dark-blue);
        cursor: pointer;
    }

    .labs-single-content-text {
        font-size: 16px;
    }

    .labs-single-content__list-title {
        font-size: 20px;
        margin: 0 0 48px 0;
    }

    .labs-single-content__list {
        margin: 96px 0;
    }

    .labs-single-call-img {
        width: 702px;
        height: 391px;
    }

    .labs-single-inner {
        margin: 0 0 40px 0;
    }

    .lab-single-arrow {
        margin: 48px 0;
    }
}

@media screen and (min-width: 1440px) {
    .lab-single-title {
        font-size: 36px;
        margin: 70px 0 96px 0;
    }

    .labs-single-inner__content {
        display: flex;
        flex-direction: row-reverse;
        gap: 89px;
    }

    .labs-single-inner__title {
        font-size: 20px;
        margin: 0 0 64px 0;
    }

    .labs-single-inner__text {
        margin: 0;
        width: 488px;
    }

    .labs-single-inner__swiper.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        width: 854px;
    }

    .labs-single-content__list-item {
        display: flex;
        flex-direction: row-reverse;
        gap: 69px;
        align-items: center;
    }

    .labs-single-box {
        padding: 24px;
    }

    .labs-single-content__list-item:nth-child(even) {
        display: flex;
        flex-direction: row;
    }

    .labs-single-content__list-title {
        margin: 0 0 64px 0;
    }

    .labs-single-content__list {
        margin: 180px 0;
    }

    .labs-single-call-img {
        width: 498px;
        height: 325px;
    }

    .labs-single-call {
        display: flex;
        flex-direction: row;
        gap: 122px;
        align-items: center;
        justify-content: center;
    }

    .labs-single-call-text {
        width: 586px;
    }

    .labs-single-call {
        margin: 0 0 180px 0;
    }

    .lab-single-arrow {
        margin: 180px 0 24px 0;

    }

    .lab-single-arrow > a {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .lab-single-arrow > a > span {
        display: block;
    }
}
