.news-page {
    margin-top: 40px;
    margin-bottom: 29px;
}

.news-page__photo {
    position: relative;
    margin-bottom: 40px;
}

.news-page__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 343px;
    color: var(--white);
    line-height: 150%;
    text-align: center;
}

.news-page__date, .news-sidebar__swiper-data {
    display: inline-block;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    margin-bottom: 40px;
    color: var(--black);
    background: var(--blue);
    font-size: 14px;
    line-height: 150%;
}

.news-page__text, .news-sidebar__swiper-text {
    margin-bottom: 40px;
    text-align: start;
    font-size: 14px;
    line-height: 150%;
}

.news-page__img {
    width: 100%;
    border-radius: 10px;
}

.news-page__swiper-pagination {
    position: relative;
    margin: 48px 0 80px;
}

.news-page__swiper-slide {
    width: 100%;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
}

.news-page__buttons {
    display: none;
}

.news-sidebar__top {
    display: flex;
    gap: 60px;
    margin-bottom: 48px;
}

.news-sidebar__title {
    width: 107px;
    color: var(--orange);
    font-size: 26px;
    font-weight: 700;
    line-height: 150%;
}

.news-sidebar__link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--dark-blue);
    fill: var(--dark-blue);
    background-color: var(--white-light);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.news-sidebar__swiper-slide {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20), 0px 0px 32px -8px rgba(0, 0, 0, 0.12), 0px 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.news-sidebar__swiper-photo, .news-sidebar__swiper-slide {
    border-radius: 10px;
}

.news-sidebar__swiper-photo {
    width: 100%;
    height: 192px;
    object-fit: cover;
}

.news-sidebar__swiper-content {
    padding: 24px;
    text-align: center;
}

.news-sidebar__swiper-title {
    margin-bottom: 16px;
}

.news-sidebar__swiper-data {
    margin-bottom: 16px;
}

.news-sidebar__swiper-text {
    margin-bottom: 16px;
}

.news-sidebar__swiper-link {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 10px;
    width: 100%;
    color: var(--dark-blue);
    background-color: var(--white-light);
    fill: var(--dark-blue);
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.news-sidebar__swiper-pagination {
    position: relative;
    margin-top: 48px;
    margin-bottom: 29px;
}


.news-sidebar__link:hover,
.news-sidebar__swiper-link:hover {
    background-color: var(--blue);
}


.news-sidebar__link:active,
.news-sidebar__swiper-link:active
{
    color: var(--gray);
    background-color: var(--white-light);
}

.news-sidebar__link:active svg use,
.news-sidebar__swiper-link:active svg use,
.news-sidebar__btn:active svg use {
    fill: var(--gray);
}

.news-page__button-prev,
.news-page__button-next{
    fill: var(--dark-blue);
    cursor: pointer;
}

.news-page__button-prev:hover svg use,
.news-page__button-next:hover svg use {
    fill: var(--orange);
}

.news-page__button-prev:active svg use,
.news-page__button-next:active svg use {
    fill: var(--gray);
}


@media screen and (min-width: 768px) {

    .news-page {
        margin-top: 48px;
        margin-bottom: 96px;
    }

    .news-page__title {
        top: 88%;
        width: 100%;
        padding: 0 50px 0;
    }

    .news-page__photo {
        margin-bottom: 48px;
    }

    .news-page__date {
        margin-bottom: 48px;
        font-size: 16px;
    }

    .news-page__text {
        margin-bottom: 48px;
        font-size: 16px;
    }

    .news-page__swiper {
        margin-bottom: 96px;
    }

    .news-page__swiper-slide {
        height: 555px;
    }

    .news-page__swiper-pagination {
        display: none;
    }

    .news-page__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;
    }

    .news-sidebar__top {
        justify-content: space-between;
    }

    .news-sidebar__link {
        background-color: var(--white);
    }

    .news-sidebar__title {
        width: fit-content;
    }

    .news-sidebar__swiper-slide {
        width: 344px !important;
    }
}

@media screen and (min-width: 1440px) {


    .news-page {
        margin: 64px 0 180px;
    }

    .news-page__title {
        top: 83%;
        padding: 0 80px 0;
        font-size: 36px;
    }

    .news-page__photo {
        margin-bottom: 64px;
    }

    .news-page__container {
        display: flex;
        gap: 121px;
    }

    .news-page__main-content {
        width: 854px;
    }

    .news-page__date {
        margin-bottom: 64px;
    }

    .news-page__swiper {
        margin-bottom: 0;
    }

    .news-page__link {
        display: flex;
        flex-direction: row;
        gap: 8px;
        color: var(--dark-blue);
        fill: var(--dark-blue);
        background-color: var(--white-light);
        font-size: 16px;
        font-weight: 600;
        line-height: 140%;
    }

    .news-page__swiper-slide {
        width: 854px !important;
        height: 675px;
    }

    .news-page__buttons {
        margin-top: 83px;
    }

    .news-sidebar__swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 27px;
    }

    .news-sidebar__swiper-slide {
        width: 100% !important;
    }

    .news-sidebar__swiper-photo {
        width: 100%;
        height: 258px;
    }


    .news-sidebar__swiper-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .news-sidebar__swiper-data {
        margin: 0;
    }

    .news-sidebar__swiper-link {
        width: fit-content;
    }

    .news-sidebar__swiper-text, .news-sidebar__swiper-pagination {
        display: none;
    }
    .news-sidebar__swiper {
        width: 100%;
        overflow: hidden !important ;
    }
    .news-sidebar__swiper-slide {
        margin: 0 !important;
    }
}


