.scientific-schools {
    margin: 40px 0 80px;
}

.scientific-schools__title {
    margin-bottom: 80px;
    line-height: 150%;
    text-align: center;
}

.scientific-schools__title2 {
    margin: 0 auto 0;
    color: var(--orange);
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.scientific-schools__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 80px auto 0;
}

.scientific-schools_retreat {
    margin-top: 0;
}

.scientific-schools__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 16px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.20), 0 0 32px -8px rgba(0, 0, 0, 0.12), 0 32px 32px -8px rgba(0, 0, 0, 0.08);
}

.scientific-schools__content-title {
    color: var(--orange);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.scientific-schools__content-text {
    font-size: 14px;
    line-height: 150%;
}

.scientific-schools__content-full-name {
    color: var(--dark-blue);
    font-size: 14px;
    line-height: 150%;
}

@media screen and (min-width: 768px) {

    .scientific-schools {
        margin: 48px 0 96px;
    }

    .scientific-schools__title {
        font-size: 26px;
        margin-bottom: 96px;
    }

    .scientific-schools__title2 {
        margin: 0 auto 0;
        font-size: 20px;
        line-height: 150%;
    }

    .scientific-schools__content-wrap {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 18px;
        margin-top: 96px;
        width: 705px;
    }

    .scientific-schools_retreat {
        margin-top: 0;
    }

    .scientific-schools__content {
        width: 343px;
    }
}

@media screen and (min-width: 1440px) {

    .scientific-schools {
        margin: 262px 0 180px;
    }

    .scientific-schools__content-wrap {
        gap: 64px 24px;
        margin-top: 180px;
        width: 950px;
    }

    .scientific-schools_retreat {
        margin-top: 0px;
    }

    .scientific-schools__content {
        width: 463px;
    }

    .scientific-schools__title {
        margin-bottom: 180px;
        font-size: 36px;
        line-height: 126.2%;
    }

    .scientific-schools__title2 {
        margin: 0 auto 0;
    }

    .scientific-schools__content {
        padding: 24px;
    }

    .scientific-schools__content-text {
        margin-bottom: 24px;
    }
}
